@tailwind base;
@tailwind components;
@tailwind utilities;

.headerBg {
  background-image: url("../public/Images/headerMobBg.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
}

@media (min-width: 700px) {
  .headerBg {
    background-image: url("../public/Images/headerBg.webp");
  }
}
.mapBg {
  background-image: url("../public/Images/mobMap.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
}
@media (min-width: 700px) {
  .mapBg {
    background-image: url("../public/Images/map.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
  }
}
