@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.heroBg {
  background-image: url("../public/Images/heroBg.webp");
  background-size: cover;
  background-position: center;
}
