@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.heroBg {
  background-image: url("../public/Images/heroBg.webp");
  background-size: cover;
  background-position: center;
}
.headerBg {
  background-image: url("../public/Images/headerBg.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 288;
}
.headerMobBg {
  background-image: url("../public/Images/headerMobBg.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 460;
}
